{% extends 'hotels/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block start %}
<div class="book-form">
  
<form action="{% url 'book' id %}" method="POST">
  {% csrf_token %}
  <br/>
  <br/>
  <br/>
  <p class="text-mess">{{ mess }}</p>
  <div class="form-group">
    {% for field in form %}
      {{field.errors}}
      {{field.label_tag}}
      {% render_field field class="form-control" %}
    {% endfor %}
    <input type="submit" class="button" value="Book"/>
 </div>
</form>
</div>

{% endblock start %}