{% extends 'hotels/base.html' %}
{% load widget_tweaks %}
{% block start %}
<div class="hotel-contain">
    <div class="hotel-img">
        <img class="image-hotel" src="{{ hotel.image.url }}" alt="{{ hotel.name }}"/>
    </div>
    <div class="hotel-content">
        <div class="hotel-content-left">
            <h3 class="hotel-content-left_header">
                {{ hotel.name }}
            </h3>
            <p class="hotel-content-left_desc">
                {{ hotel.description }}
            </p>
        </div>
        <div class="hotel-content-right">
            <h4 class="hotel-content-right_ava">Available</h4>
            <h4 class="hotel-content-right_loc">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                {{hotel.location}} </h4>
            <h4 class="hotel-content-right_pri"> ₹ {{ hotel.price }}</h4>
            {% if user.is_authenticated %}
            <button class="button button-my">
                <a href="{% url 'book' hotel.id %}"> Book Now &nbsp;&nbsp;
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></a>
              </button>
              {% else %}
              <button class="button button-my">
                <a class="nav-link" href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a>
            </button>
            {% endif %}

        </div>
    </div>
</div>
{% endblock start %}