{% extends 'hotels/base.html' %}
{% load widget_tweaks %}
{% block start %}
<div style="margin: 20px;
            display: block;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
" class="search">
  <form method="GET">
    <input 
          style="width: 100%;
                 padding: 1rem 1rem;
                 border-radius: 15px;
                 border: 1px solid #ddddddb6;
                 box-shadow :-4px 2px 3px 0px rgba(176,176,176,1) !important;
                 outline-style: none;
                 "
     type="text" name="search" placeholder="Search here"/>
  </form>
</div>
<div id="all" class="card-container">
{% for hotel in hotels.all %}
  <div class="card">
          <img class="card-img-top" src="{{ hotel.image.url }}" alt="{{ hotel.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <p class="card-text">{{ hotel.description|truncatechars:200}}</p>
            <p class="card-rating">{{ hotel.rating}}★</p>
            <button class="button">
              <a href="{% url 'fetchhotel' hotel.id %}"> Book - ₹{{hotel.price}} </a>
            </button>
          </div>
      </div>
{% endfor %}
</div>
{% endblock start %}




