{% extends 'food/base.html' %}
{% load widget_tweaks %}
{% block start %}
<div style="margin: 20px;
            display: block;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
" class="search">
  <form>
    <input 
          style="width: 100%;
                 padding: 1rem 1rem;
                 border-radius: 15px;
                 border: 1px solid #ddddddb6;
                 box-shadow :-4px 2px 3px 0px rgba(176,176,176,1) !important;
                 outline-style: none;
                 "
     type="text" placeholder="Search here"/>
  </form>
</div>
<div id="all" class="card-container">
{% for item in food %}
  <div class="card">
          <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description|truncatechars:200}}</p>
            <p class="card-rating">{{ item.rating}}★</p>
            <p class="card-category">{{ item.category }}</p>
            <button class="button">
              <a href="{% url 'fooditem' item.category.id item.id %}"> Order Now - ₹{{item.price}} </a>
            </button>
          </div>
      </div>
{% endfor %}
</div>
{% endblock start %}




