{% extends 'hotels/base.html' %}
{% load widget_tweaks %}
{% block start %}
<div class="hotel-contain">
    <div class="hotel-img">
        <img class="image-hotel" src="{{ food_item.image.url }}" alt="{{ food_item.name }}"/>
    </div>
    <div class="hotel-content">
        <div class="hotel-content-left">
            <h3 class="hotel-content-left_header">
                {{ food_item.name }}
            </h3>
            <p class="hotel-content-left_desc">
                {{ food_item.description }}
            </p>
        </div>
        <div class="hotel-content-right">
            <h4 class="hotel-content-right_ava">Available</h4>
            <h4 class="hotel-content-right_loc">
                {{food_item.category}} </h4>
            <h4 class="hotel-content-right_pri"> ₹ {{ food_item.price }}</h4>
            {% if user.is_authenticated %}
            <button class="button button-my">
                <a href="{% url 'foodorder' cid food_item.id %}"> Order Now &nbsp;&nbsp;
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></a>
              </button>
              {% else %}
            <button class="button button-my">
                <a class="nav-link" href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a>
            </button>
              {% endif %}

        </div>
    </div>
</div>
{% endblock start %}