{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block start %}

 <div class="main col-md-8 col-md-offset-2">
    
  <form method="POST" class="form-content">
    <h3 class="form-header">Login</h3>
    {% csrf_token %}
    <div class="form-group">
      <div class="form-group-content">
       {% for field in form %}
       {{field.errors}}
       
       {{field.label_tag}}
       
       {% render_field field class="input" %}
     {% endfor %}
      </div>
    </div>
    <div class="last">
      <p> Don't Have a Account ?<a href="{% url "register" %}" style="text-decoration: none; color: #E83A59; padding:3%; cursor:pointer;">Register</a></p>
      <button class="button" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; Continue</button>
    </div>
  </form>
 </div>
{% endblock start %}